<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<%= currentPage == 'airport' ? 'active' : '' %>">
                    <a href="/airport/list">Airport List</a>
                </li>
                <li class="<%= currentPage == 'aircraft' ? 'active' : '' %>">
                    <a href="/aircraft/list">Aircraft List</a>
                </li>
                <li class="<%= currentPage == 'transaction' ? 'active' : '' %>">
                    <a href="/transaction/list">Transaction List</a>
                </li>
                <li class="<%= currentPage == 'report' ? 'active' : '' %>">
                    <a href="/reports">Reports</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>